{% extends 'facebook_api/base.html' %}

{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'facebook_api/css/forms.css' %}">
<link rel="stylesheet" href="{% static 'facebook_api/css/dashboard.css' %}">
<link rel="stylesheet" href="{% static 'facebook_api/css/admin-page.css' %}">

{% endblock head %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<script>
    let accessToken;
    let userId;

    window.fbAsyncInit = function () {
        FB.init({
            appId: '748013059515309',
            cookie: true,
            xfbml: true,
            version: 'v1.0'
        });

        FB.getLoginStatus(function (response) {
            statusChangeCallback(response);
            if (response.status === 'connected') {
                accessToken = response.authResponse.accessToken;
                userId = response.authResponse.userID;
                console.log("Access token", accessToken);
                console.log("User ID:", userId);
            }
        });


    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    function statusChangeCallback(response) {
        if (response.status === 'connected') {
            console.log('Logged in and Authenticated');
            accessToken = response.authResponse.accessToken;
            userId = response.authResponse.userID;
            console.log('Access token', response.authResponse.accessToken);
            console.log('User ID:', response.authResponse.userID);

            setElements(true);

        } else {
            console.log('Not authenticated');
            setElements(false);

            window.location.href = '/';
        }


        console.log("request sent");
    }

    function checkLoginState() {
        
        FB.getLoginStatus(function (response) {
            statusChangeCallback(response);
            
            location.reload();
        });
        
        // Enviar un POST a un endpoint que registre las credenciales
        var xhr = new XMLHttpRequest();

        xhr.open("POST", 'https://inove-facebook-api.herokuapp.com/facebook/credentials/verify-credentials', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');

        xhr.send(JSON.stringify({
            csrfmiddlewaretoken: "{{ csrf_token }}", 
            accessToken: accessToken,
            userId: userId,
            username: "{{ user.username }}"
        }));

        console.log("Request sent");
    }

    function setElements(isLoggedIn) {
        if (isLoggedIn) {
            document.getElementById('logout').style.display = 'block';
            document.getElementById('fb-btn').style.display = 'none';
            document.getElementById('functionalities').style.display = 'block';
        } else {
            document.getElementById('logout').style.display = 'none';
            document.getElementById('fb-btn').style.display = 'block';
            document.getElementById('functionalities').style.display = 'none';
        }
    }

    function logout() {
        FB.logout(function (response) {
            setElements(false);
            // Redirect to index page
            window.location.href = '/';
        });
    }

</script>

<br>
<h1 id="username" value="{{ user.username }}"> Iniciaste sesión como {{ user.username }} </h1>
<br>

<div class="page" id="page" style="margin-bottom:20px;">

    <div class="page-picture">
        <img src=" {{ page.picture }} ">
    </div>

    <div class="page-name">
        <h2> {{ page.name }} </h2>
    </div>

    <div class="manage">
        <div class="vertical-center-button">
            <button class="manage-btn"
                onclick="window.location.href='https:\/\/inove-facebook-api.herokuapp.com/facebook/dashboard'"> Volver al Inicio
            </button>
        </div>
    </div>
</div>

<h2> Status </h2>

<div class="status" id="status">
    
    <div class="status-box" id="status posts-respondidos">
        Posts Respondidos: {{ page.posts_respondidos }}
    </div>

    <div class="status-box" id="status posts-sin-responder">
        Posts Sin Responder: {{ cant_comentarios_sin_responder }}
    </div>
    
    <div class="status-box" id="status mensajes-respondidos">
        Mensajes Respondidos: {{ page.mensajes_respondidos }}
    </div>
    
    <div class="status-box" id="status mensajes-sin-responder">
        Mensajes sin responder: {{ cant_mensajes_sin_responder }}
    </div>
    
</div>

<div class="page-content" id="page-content">

    <div id="posts" class="page-content-box">
        <h2> Posts </h2>
        {% if posts %}
            {% for post in posts %}    
                {% if post.comments %}        
                    <div class="page-post">
                            
                        <div id="page-profile-picture" class="profile-picture">
                            <img src="{{ page.picture }}" alt="profile picture of the page">
                        </div>

                        <div id="page-post-owner" class="post-owner">
                            <h5> {{ page.name }} </h5>
                        </div>
                
                        <div class="post-content">
                            <h3> {{post.message}} </h3>
                        </div>
                            
                    </div>
                    
                    {% for comment in post.comments %}
                        <br>
                        <div class="page-post" id="comment">
                            
                            <div id="page-profile-picture" class="profile-picture">
                                <img src="{{ comment.picture }}" alt="profile picture">
                            </div>
                            
                            <div id="page-post-owner" class="post-owner">
                                <h5> {{ comment.owner }} </h5>
                            </div>
                            
                            <div class="post-content" id="comment-content">
                                <h3> {{ comment.message }} </h3>
                            </div>
                            
                            <form class="answer-form" method="POST" action="{% url 'public-answer' %}">
                                {%csrf_token%}
                                
                                <select name="message">
                                    {% for option in answers %}
                                    <option value="{{option.message}}"> {{option.tag}} </option>
                                    {% endfor %}
                                </select>

                                <input type="hidden" name="post_id" value="{{ comment.id }}">
                                <input type="hidden" name="page_id" value="{{ page.page_id }}">
                                <input type="hidden" name="access_token" value="{{ page.access_token }}">
                                
                                <input type="submit" value="Responder">
                                
                            </form>
                            
                        </div>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% else %}
        <h2>
            No hay posts
        </h2>
        {% endif %}
            
    </div>
    
    <div id="messenger" class="page-content-box">
        <h2> Messenger </h2>
            <div class="page-post" id="comment">
                
                <div id="page-profile-picture" class="profile-picture">
                    <img src="{{ page.picture }}" alt="profile picture of the user">
                </div>

                <div id="page-post-owner" class="post-owner">
                    <h5> {{ message.sender }} </h5>
                </div>
        
                <div class="post-content" id="comment-content">
                    <h3> message.content </h3>
                </div>

                <form class="answer-form" method="POST" action="{% url 'private-answer' %}">
                    {%csrf_token%}
                        
                    <select name="message">
                        {% for option in answers %}
                        <option value="{{option.message}}"> {{option.tag}} </option>
                        {% endfor %}
                    </select>

                    <input type="hidden" name="recv_id" value="{{ messsage_recv_id }}">
                    <input type="hidden" name="page_id" value="{{ page.page_id }}">
                    <input type="hidden" name="access_token" value="{{ page.access_token }}">

                    <input type="submit" value="Responder">

                </form>

            </div>  
    </div>

</div>

<br><br><br>

<h1> Registrá una nueva respuesta! </h1> 

<form action="{% url 'create-response' %}" method="POST">
    {%csrf_token%}
    <div class="txt_field">
    
        <input type="text" id="tag" name="tag" required>
        <span></span>
        <label>Tag de tu respuesta</label>
    
    </div>

    <div class="txt_field">
    
        <input type="text" id="message" name="message"required>
        <span></span>
        <label>Contenido de tu respuesta</label>
  
    </div>

    <input type="hidden" value="{{ page.id }}" name="id">

    <input type="submit" value="Confirmar">
    

</form>

{% endblock %}