{% extends 'facebook_api/base.html' %}

{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'facebook_api/css/forms.css' %}">
<link rel="stylesheet" href="{% static 'facebook_api/css/dashboard.css' %}">

{% endblock head %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<script>
    let accessToken;
    let userId;

    window.fbAsyncInit = function () {
        FB.init({
            appId: '748013059515309',
            cookie: true,
            xfbml: true,
            version: 'v1.0'
        });

        FB.getLoginStatus(function (response) {
            statusChangeCallback(response);
            if (response.status === 'connected') {
                accessToken = response.authResponse.accessToken;
                userId = response.authResponse.userID;
                console.log("Access token", accessToken);
                console.log("User ID:", userId);
            }
        });


    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    function statusChangeCallback(response) {
        if (response.status === 'connected') {
            console.log('Logged in and Authenticated');
            accessToken = response.authResponse.accessToken;
            userId = response.authResponse.userID;
            console.log('Access token', response.authResponse.accessToken);
            console.log('User ID:', response.authResponse.userID);

            setElements(true);

        } else {
            console.log('Not authenticated');
            setElements(false);
        }


        console.log("request sent");
    }

    function checkLoginState() {

        FB.getLoginStatus(function (response) {
            statusChangeCallback(response);

            location.reload();
        });

        // Enviar un POST a un endpoint que registre las credenciales
        var xhr = new XMLHttpRequest();

        xhr.open("POST", "{% url 'credentials/verify-credentials' %}", true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');

        xhr.send(JSON.stringify({
            csrfmiddlewaretoken: "{{ csrf_token }}",
            accessToken: accessToken,
            userId: userId,
            username: "{{ user.username }}"
        }));

        console.log("Request sent");
        location.reload();
        location.reload();
    }

    function setElements(isLoggedIn) {
        if (isLoggedIn) {
            document.getElementById('logout').style.display = 'block';
            document.getElementById('fb-btn').style.display = 'none';
            document.getElementById('functionalities').style.display = 'block';
        } else {
            document.getElementById('logout').style.display = 'none';
            document.getElementById('fb-btn').style.display = 'block';
            document.getElementById('functionalities').style.display = 'none';
        }
    }

    function logout() {
        FB.logout(function (response) {
            setElements(false);
            // Redirect to index page
            window.location.href = '/';
        });
    }

</script>

<br>
<h1 id="username" value="{{ user.username }}"> Iniciaste sesión como {{ user.username }} </h1>
<br>

<div id="platform-login" class="platform-login">

    <div class="platform-login title">
        <h1> Iniciar sesión con Facebook </h1>
    </div>

    <div class="platform-login description">
        <p> De esta forma podrás manejar tus páginas usando nuestra aplicación.</p>
    </div>

    <div class="platform-login action">
        <a id="logout" onclick="logout()" href="{% url 'dashboard' %}"> Cerrar
            sesión de Facebook </a>

        <fb:login-button id="fb-btn"
            scope="public_profile,email, pages_manage_posts, pages_messaging, pages_show_list, pages_manage_metadata, pages_manage_engagement, pages_read_engagement, pages_read_user_content, public_profile"
            onlogin="checkLoginState();">
        </fb:login-button>

    </div>
</div>

{% if validated %}
<div class="functionalities" id="functionalities">
    
    {% for page in pages %}
    <div class="page" id="page">
        
        <div class="page-picture">
            <img src=" {{ page.picture }} ">
        </div>
        
        <div class="page-name">
            <h2><a href="{{ page.url }}" target="_blank"> {{ page.name }} </a></h2>
        </div>
        
        <div class="manage">
            <div class="vertical-center-button">
                
                <button class="manage-btn"
                onclick="window.location.href='https:\/\/inove-facebook-api.herokuapp.com/facebook/admin-page/{{page.id}}'"> Administrar
            </button>
            
        </div>
    </div>
    
</div>
{% endfor %}
{% endif %}


{% endblock %}