body {
  height: 100%;
  color: white;
  text-align: left;
  font-family: 'Roboto', sans-serif;
}

body {
  display: inline-block;
  -ms-flex-align: left;
  align-items: left;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #25d2b2;
}

.form-signin {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
}

h2{
  text-align: left;
  font-family: 'Roboto', sans-serif;
}

h4{
  text-align: left;
  font-family: 'Roboto', sans-serif;
}

button {
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.submit-btn{
    background-color: green;
}

.leave-btn{
    background-color: red;
}